<div class="row">
  <div class="col-md-8">
    <div class="video-container">
      <div class="theoplayer-container video-js theoplayer-skin vjs-16-9"></div>
    </div>
    <div class="container-interactiu">

      <%= render 'fases/taller2_f10' %>
      <%= render 'fases/taller2_f11' %>
      <%= render 'fases/taller2_f12' %>
      <%= render 'fases/taller2_f13' %>
      <%= render 'fases/taller2_f14' %>
      <%= render 'fases/taller2_f15' %>
      <%= render 'fases/taller2_f16' %>

    </div>
  </div>
  <div class="col-md-4">
  	<div class="contenidor-xat">
  		<div class="contingut-xat" id="missatges">

  		</div>
  		<div class="form-xat">
				<%= form_for @missatge, remote: true do |f| %>
				  <%= f.hidden_field :user_id, value: current_user.id %>
				  <div class="form-content missatge-contingut-<%= current_user.id %>">
				  	<%= f.text_field :contingut, class: 'field-xat' %>
				  </div>
				  <div class="form-submit">
						<%= f.submit 'Xat', class: 'btn boto-accio', id: 'botodelxat' %>
					</div>
	      <% end %>
  		</div>
  	</div>
  	<div class="contenidor-usuaris">
  		<div class="contenidor-titol">
  			PARTICIPANTS
  		</div>
      <div id="online-users">
			  <%= render partial: "users/online", collection: User.online, as: :user %>
			</div>
		</div>
  </div>
</div>

<script>
var playbackId = "<%= @video %>";

var element = document.querySelector(".theoplayer-container");
var player = new THEOplayer.Player(element, {
    libraryLocation: "https://cdn.myth.theoplayer.com/ea920c04-cb68-41de-961c-e54bd3218408"
});

player.source = {
  sources: [{
      "src": "https://stream.mux.com/"+playbackId+".m3u8",
      "type": "application/x-mpegurl"
  }]
};

player.preload = 'auto';
</script>