<div id="container-fase-5" class="container-fase">
	<h1 class="titol-repte">Estufa o manta?</h1>
	<p>Sou a casa i teniu fred. Si no voleu consumir energia què trieu per escalfar-vos?</p>
	<div class="container-manta">
		<%= image_tag "manta.jpg", class: "estufa-manta", id: "tria-manta" %>
		<%= image_tag "pau.jpg", class: "estufa-manta", id: "tria-pau" %>
		<%= image_tag "estufa.jpg", class: "estufa-manta", id: "tria-estufa" %>
	</div>
	<div class="container-clear"></div>
	<p class="benfet5"><%= image_tag "correcte.png", class: "correcte" %></p>
  <p class="malfet5"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>