<div id="container-fase-4" class="container-fase">
	<h1 class="titol-repte">Quina és la pitjor casa?</h1>
	<p>Aquesta pregunta no té una resposta clara, depèn del que considerem important. <br/>Tria la casa que necessita més energia per a ser construïda.</p>
	<div class="container-tres-porquets">
		<%= image_tag "casa_tres_porquets_01.jpg", class: "casa-tres-porquets", id: "porquets-casa-palla" %>
		<%= image_tag "casa_tres_porquets_02.jpg", class: "casa-tres-porquets", id: "porquets-casa-fusta" %>
		<%= image_tag "casa_tres_porquets_03.jpg", class: "casa-tres-porquets", id: "porquets-casa-maons" %>
	</div>
	<div class="container-clear"></div>
	<p class="benfet4"><%= image_tag "correcte.png", class: "correcte" %></p>
  <p class="malfet4"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>