<div id="container-fase-2" class="container-fase">
	<h1 class="titol-repte">On és l'illa de Pasqua?</h1>
	<p>Passa el ratolí per sobre els requadres per trobar l'illa de Pasqua:</p>
	<div class="slice-map-container">
		<div class="slice-row">
			<%= image_tag "mapa_mon_01.jpg", class: "map-slice", id: "map1" %>
			<%= image_tag "mapa_mon_02.jpg", class: "map-slice", id: "map2" %>
			<%= image_tag "mapa_mon_03.jpg", class: "map-slice", id: "map3" %>
			<%= image_tag "mapa_mon_04.jpg", class: "map-slice", id: "map4" %>
			<%= image_tag "mapa_mon_05.jpg", class: "map-slice", id: "map5" %>
			<%= image_tag "mapa_mon_06.jpg", class: "map-slice", id: "map6" %>
			<%= image_tag "mapa_mon_07.jpg", class: "map-slice", id: "map7" %>
			<%= image_tag "mapa_mon_08.jpg", class: "map-slice", id: "map8" %>
			<%= image_tag "mapa_mon_09.jpg", class: "map-slice", id: "map9" %>
			<%= image_tag "mapa_mon_10.jpg", class: "map-slice", id: "map10" %>
		</div>
		<div class="slice-row">
			<%= image_tag "mapa_mon_11.jpg", class: "map-slice", id: "map11" %>
			<%= image_tag "mapa_mon_12.jpg", class: "map-slice", id: "map12" %>
			<%= image_tag "mapa_mon_13.jpg", class: "map-slice", id: "map13" %>
			<%= image_tag "mapa_mon_14.jpg", class: "map-slice", id: "map14" %>
			<%= image_tag "mapa_mon_15.jpg", class: "map-slice", id: "map15" %>
			<%= image_tag "mapa_mon_16.jpg", class: "map-slice", id: "map16" %>
			<%= image_tag "mapa_mon_17.jpg", class: "map-slice", id: "map17" %>
			<%= image_tag "mapa_mon_18.jpg", class: "map-slice", id: "map18" %>
			<%= image_tag "mapa_mon_19.jpg", class: "map-slice", id: "map19" %>
			<%= image_tag "mapa_mon_20.jpg", class: "map-slice", id: "map20" %>
		</div>
		<div class="slice-row">
			<%= image_tag "mapa_mon_21.jpg", class: "map-slice", id: "map21" %>
			<%= image_tag "mapa_mon_22.jpg", class: "map-slice", id: "map22" %>
			<%= image_tag "mapa_mon_23.jpg", class: "map-slice", id: "map23" %>
			<%= image_tag "mapa_mon_24.jpg", class: "map-slice", id: "map24" %>
			<%= image_tag "mapa_mon_25.jpg", class: "map-slice", id: "map25" %>
			<%= image_tag "mapa_mon_26.jpg", class: "map-slice", id: "map26" %>
			<%= image_tag "mapa_mon_27.jpg", class: "map-slice", id: "map27" %>
			<%= image_tag "mapa_mon_28.jpg", class: "map-slice", id: "map28" %>
			<%= image_tag "mapa_mon_29.jpg", class: "map-slice", id: "map29" %>
			<%= image_tag "mapa_mon_30.jpg", class: "map-slice", id: "map30" %>
		</div>
		<div class="slice-row">
			<%= image_tag "mapa_mon_31.jpg", class: "map-slice", id: "map31" %>
			<%= image_tag "mapa_mon_32.jpg", class: "map-slice", id: "map32" %>
			<%= image_tag "mapa_mon_33.jpg", class: "map-slice", id: "map33" %>
			<%= image_tag "mapa_mon_34.jpg", class: "map-slice", id: "map34" %>
			<%= image_tag "mapa_mon_35.jpg", class: "map-slice", id: "map35" %>
			<%= image_tag "mapa_mon_36.jpg", class: "map-slice", id: "map36" %>
			<%= image_tag "mapa_mon_37.jpg", class: "map-slice", id: "map37" %>
			<%= image_tag "mapa_mon_38.jpg", class: "map-slice", id: "map38" %>
			<%= image_tag "mapa_mon_39.jpg", class: "map-slice", id: "map39" %>
			<%= image_tag "mapa_mon_40.jpg", class: "map-slice", id: "map40" %>
		</div>
		<div class="slice-row">
			<%= image_tag "mapa_mon_41.jpg", class: "map-slice", id: "map41" %>
			<%= image_tag "mapa_mon_42.jpg", class: "map-slice", id: "map42" %>
			<%= image_tag "mapa_mon_43.jpg", class: "map-slice", id: "map43" %>
			<%= image_tag "mapa_mon_44.jpg", class: "map-slice", id: "map44" %>
			<%= image_tag "mapa_mon_45.jpg", class: "map-slice", id: "map45" %>
			<%= image_tag "mapa_mon_46.jpg", class: "map-slice", id: "map46" %>
			<%= image_tag "mapa_mon_47.jpg", class: "map-slice", id: "map47" %>
			<%= image_tag "mapa_mon_48.jpg", class: "map-slice", id: "map48" %>
			<%= image_tag "mapa_mon_48_v2.jpg", class: "map-slice", id: "map48_v2" %>
			<%= image_tag "mapa_mon_49.jpg", class: "map-slice", id: "map49" %>
			<%= image_tag "mapa_mon_50.jpg", class: "map-slice", id: "map50" %>
		</div>
		<div class="slice-row">
			<%= image_tag "mapa_mon_51.jpg", class: "map-slice", id: "map51" %>
			<%= image_tag "mapa_mon_52.jpg", class: "map-slice", id: "map52" %>
			<%= image_tag "mapa_mon_53.jpg", class: "map-slice", id: "map53" %>
			<%= image_tag "mapa_mon_54.jpg", class: "map-slice", id: "map54" %>
			<%= image_tag "mapa_mon_55.jpg", class: "map-slice", id: "map55" %>
			<%= image_tag "mapa_mon_56.jpg", class: "map-slice", id: "map56" %>
			<%= image_tag "mapa_mon_57.jpg", class: "map-slice", id: "map57" %>
			<%= image_tag "mapa_mon_58.jpg", class: "map-slice", id: "map58" %>
			<%= image_tag "mapa_mon_59.jpg", class: "map-slice", id: "map59" %>
			<%= image_tag "mapa_mon_60.jpg", class: "map-slice", id: "map60" %>
		</div>
	</div>
	<div class="slice-row">
		<p class="benfet2"><%= image_tag "correcte.png", class: "correcte" %></p>
		<p class="malfet2"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
	</div>
</div>