<div id="container-fase-7" class="container-fase">
	<h1 class="titol-repte">Solar tèrmica i solar fotovoltaica</h1>
	<p>Els panells solars s'assemblen però no són iguals! <br/>Col·loca sobre els panells el que produeixen.</p>
	<div class="container-panells-solars">
		<div id="container-panell-solar-termic">
			<%= image_tag "panell_termic.jpg", class: "panells-solars", id: "panell-termic" %>
			<%= image_tag "panell_termic_ok.jpg", class: "panells-solars", id: "panell-termic-ok" %>
		</div>
		<div id="container-panell-solar-fotovoltaic">
			<%= image_tag "panell_fotovoltaic.jpg", class: "panells-solars", id: "panell-fotovoltaic" %>
			<%= image_tag "panell_fotovoltaic_ok.jpg", class: "panells-solars", id: "panell-fotovoltaic-ok" %>
		</div>
	</div>
	<div class="container-clear"></div>

	<div class="container-produccions">
		<div id="produccio-1" class="requadre-produccio">
		  <%= image_tag "aigua_freda.jpg", class: "imatge-produccio" %>
		</div>
		<div id="produccio-2" class="requadre-produccio">
		  <%= image_tag "slime.jpg", class: "imatge-produccio" %>
		</div>
		<div id="produccio-3" class="requadre-produccio">
		  <%= image_tag "aigua_calenta.jpg", class: "imatge-produccio" %>
		</div>
		<div id="produccio-4" class="requadre-produccio">
		  <%= image_tag "crispetes.jpg", class: "imatge-produccio" %>
		</div>
		<div id="produccio-5" class="requadre-produccio">
		  <%= image_tag "electricitat.jpg", class: "imatge-produccio" %>
		</div>
	</div>

	<div class="container-clear"></div>

	<p class="benfet7"><%= image_tag "correcte.png", class: "correcte" %></p>
  
</div>