<div id="container-fase-14" class="container-fase">
  <h1 class="titol-repte">Quanta llum necessitem?</h1>
  <br/>
  <p class="text-repte">Utilitza l'interruptor per engegar o apagar llums.</p>
  
  <div id="interruptor">
    <div id="interruptor-3-on" class="interruptor"><%= image_tag "interruptor_1_on.jpg", class: "interruptor-1" %></div>
    <div id="interruptor-3-off" class="interruptor"><%= image_tag "interruptor_1_off.jpg", class: "interruptor-1" %></div>
    <div id="interruptor-4-on" class="interruptor"><%= image_tag "interruptor_2_on.jpg", class: "interruptor-2" %></div>
    <div id="interruptor-4-off" class="interruptor"><%= image_tag "interruptor_2_off.jpg", class: "interruptor-2" %></div>
  </div>

  <div class="instruccions-interruptor">
    <div class="cas-iluminacio">Cas 2:</div>
    <div id="instruccio-1">Ha vingut un noi a fer un taller a classe, hem d'escoltar l'explicació i també veurem un vídeo.</div>
  </div>

  <div class="break-float"></div>

  <div class="imatge-classe">
    <%= image_tag "aula_1.jpg", class: "llum-aula2", id: "aula-5-llums" %>
    <%= image_tag "aula_2.jpg", class: "llum-aula2", id: "aula-6-llums" %>
    <%= image_tag "aula_3.jpg", class: "llum-aula2", id: "aula-7-llums" %>
    <%= image_tag "aula_4.jpg", class: "llum-aula2", id: "aula-8-llums" %>
    <div id="punt-lux-4" class="punt-lux-primer"></div>
    <div id="info-lux-4" class="info-lux-primer"></div>
    <div id="punt-lux-5" class="punt-lux-segon"></div>
    <div id="info-lux-5" class="info-lux-segon"></div>
    <div id="punt-lux-6" class="punt-lux-tercer"></div>
    <div id="info-lux-6" class="info-lux-tercer"></div>
  </div>

  <br/>
  <button id="comprova-repte-14" class="btn boto-accio">Comprova</button>
  <p class="benfet14"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet14"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>