<div id="container-fase-16" class="container-fase">
  <h1 class="titol-repte">Seguim les instruccions</h1>
  <br/>
  <p class="text-repte">Surt de l'aula per la porta, has d'anar al pati.</p>

  <div class="contenidor-imatge">
    <div class="imatge-classe2">
      <%= image_tag "aparells_1.png", class: "aparells-aula", id: "aparells-1" %>
      <%= image_tag "aparells_2.png", class: "aparells-aula", id: "aparells-2" %>
      <%= image_tag "aparells_fonspantalla.png", class: "aparells-aula", id: "aparells-fonspantalla" %>
      <%= image_tag "aparells_interruptor.png", class: "aparells-aula", id: "aparells-interruptor" %>
      <%= image_tag "aparells_ledpc.png", class: "aparells-aula", id: "aparells-ledpc" %>
      <%= image_tag "aparells_ordinador.png", class: "aparells-aula", id: "aparells-ordinador" %>
      <%= image_tag "aparells_pantallaapagada.png", class: "aparells-aula", id: "aparells-pantallaapagada" %>
      <%= image_tag "aparells_pantalla.png", class: "aparells-aula", id: "aparells-pantalla" %>
      <%= image_tag "aparells_porta.png", class: "aparells-aula", id: "aparells-porta" %>
      <%= image_tag "aparells_projector_no_pc.png", class: "aparells-aula", id: "aparells-projector-no-pc" %>
      <%= image_tag "aparells_projector_si_pc.png", class: "aparells-aula", id: "aparells-projector-si-pc" %>
      <%= image_tag "aparells_projector.png", class: "aparells-aula", id: "aparells-projector" %>
      <div id="contorn-interruptor" class="contorns-aparells"></div>
      <div id="contorn-ordinador" class="contorns-aparells"></div>
      <div id="contorn-pantalla" class="contorns-aparells"></div>
      <div id="contorn-projector" class="contorns-aparells"></div>
      <div id="contorn-porta" class="contorns-aparells"></div>
    </div>
  </div>

  <p class="benfet16"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet16"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>