<div id="container-fase-10" class="container-fase">
  <h1 class="titol-repte">Tria la millor opció per estalviar energia</h1>
  <p>Podem estalviar molta energia amb les petites decisions que prenem cada dia!</p>
  
  <div id="container-tria-aventura-1">
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>En Joan engega tots els llums</p>
      </div>
      <%= image_tag "llum_artificial.jpg", class: "tria-aventura", id: "llum-artificial" %>
      
    </div>
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>En Joan aprofita la llum del Sol</p>
      </div>
      <%= image_tag "llum_natural.jpg", class: "tria-aventura", id: "llum-natural" %>
      
    </div>
  </div>

  <div id="container-tria-aventura-2">
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>La Paula agafa ràpid el que necessita i torna a tancar la nevera</p>
      </div>
      <%= image_tag "nevera_be.jpg", class: "tria-aventura", id: "nevera-be" %>
      
    </div>
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>La Paula deixa la nevera oberta molta estona mentre decideix què vol agafar</p>
      </div>
      <%= image_tag "nevera_malament.jpg", class: "tria-aventura", id: "nevera-malament" %>
      
    </div>
  </div>

  <div id="container-tria-aventura-3">
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>La Marta va poc abrigada i han de pujar la calefacció a l'escola</p>
      </div>
      <%= image_tag "classe_fred.jpg", class: "tria-aventura", id: "classe-fred" %>
      
    </div>
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>La Marta va ben vestida per no tenir fred encara que sigui hivern</p>
      </div>
      <%= image_tag "classe_be.jpg", class: "tria-aventura", id: "classe-be" %>
      
    </div>
  </div>

  <div id="container-tria-aventura-4">
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>L'Anna torna de la feina amb el cotxe</p>
      </div>
      <%= image_tag "transport_cotxe.jpg", class: "tria-aventura", id: "transport-cotxe" %>
      
    </div>
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>L'Anna torna de la feina amb la bicicleta</p>
      </div>
      <%= image_tag "transport_bici.jpg", class: "tria-aventura", id: "transport-bici" %>
      
    </div>
  </div>

  <div id="container-tria-aventura-5">
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>Després de rentar la roba l'estén per assecar-la</p>
      </div>
      <%= image_tag "roba_estesa.jpg", class: "tria-aventura", id: "roba-estesa" %>
      
    </div>
    <div class="item-tria-aventura">
      <div class="text-tria-aventura">
        <p>Després de rentar la roba la posa a l'assecadora</p>
      </div>
      <%= image_tag "roba_assecadora.jpg", class: "tria-aventura", id: "roba-assecadora" %>
      
    </div>
  </div>

  <div id="container-tria-aventura-6">
    Respostes correctes: <span id="respostes-correctes-tria-aventura"></span>
  </div>

  <div class="benomalfet10">
    <p class="benfet10"><%= image_tag "correcte.png", class: "correcte" %></p>
    <p class="malfet10"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
  </div>
</div>