<div id="container-fase-15" class="container-fase">
  <h1 class="titol-repte">Quanta llum necessitem?</h1>
  <br/>
  <p class="text-repte">Utilitza l'interruptor per engegar o apagar llums.</p>
  
  <div id="interruptor">
    <div id="interruptor-5-on" class="interruptor"><%= image_tag "interruptor_1_on.jpg", class: "interruptor-1" %></div>
    <div id="interruptor-5-off" class="interruptor"><%= image_tag "interruptor_1_off.jpg", class: "interruptor-1" %></div>
    <div id="interruptor-6-on" class="interruptor"><%= image_tag "interruptor_2_on.jpg", class: "interruptor-2" %></div>
    <div id="interruptor-6-off" class="interruptor"><%= image_tag "interruptor_2_off.jpg", class: "interruptor-2" %></div>
  </div>

  <div class="instruccions-interruptor">
    <div class="cas-iluminacio">Cas 3:</div>
    <div id="instruccio-1">Toca classe d'història! Segur que hem de prendre apunts i llegir.</div>
  </div>

  <div class="break-float"></div>

  <div class="imatge-classe">
    <%= image_tag "aula_5.jpg", class: "llum-aula3", id: "aula-9-llums" %>
    <%= image_tag "aula_6.jpg", class: "llum-aula3", id: "aula-10-llums" %>
    <%= image_tag "aula_7.jpg", class: "llum-aula3", id: "aula-11-llums" %>
    <%= image_tag "aula_8.jpg", class: "llum-aula3", id: "aula-12-llums" %>
    <div id="punt-lux-7" class="punt-lux-primer"></div>
    <div id="info-lux-7" class="info-lux-primer"></div>
    <div id="punt-lux-8" class="punt-lux-segon"></div>
    <div id="info-lux-8" class="info-lux-segon"></div>
    <div id="punt-lux-9" class="punt-lux-tercer"></div>
    <div id="info-lux-9" class="info-lux-tercer"></div>
  </div>

  <br/>
  <button id="comprova-repte-15" class="btn boto-accio">Comprova</button>
  <p class="benfet15"><%= image_tag "correcte.png", class: "correcte" %> </p>
  <p class="malfet15"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>