<div id="container-fase-3" class="container-fase">
	<h1 class="titol-repte">De què estan fetes les cases?</h1>
	<p>Col·loqueu sota cada casa el material principal del que està feta</p>
	<div class="container-casa-material" id="casa-material-1">
		<div class="imatge-casa-material">
			<%= image_tag "casa_iglu.jpg", class: "casa-material", id: "casa-iglu" %>
			<p></p>
		</div>
	</div>
	<div class="container-casa-material" id="casa-material-2">
		<div class="imatge-casa-material">
			<%= image_tag "casa_fusta.jpg", class: "casa-material", id: "casa-fusta" %>
			<p></p>
		</div>
	</div>
	<div class="container-casa-material" id="casa-material-3">
		<div class="imatge-casa-material">
			<%= image_tag "casa_terra.jpg", class: "casa-material", id: "casa-terra" %>
		</div>
	</div>
	<div class="container-casa-material" id="casa-material-4">
		<div class="imatge-casa-material">
			<%= image_tag "casa_iurta.jpg", class: "casa-material", id: "casa-iurta" %>
		</div>
	</div>
	<div class="container-casa-material" id="casa-material-5">
		<div class="imatge-casa-material">
			<%= image_tag "casa_pedra.jpg", class: "casa-material", id: "casa-pedra" %>
		</div>
	</div>

	<div class="container-casa-material-clear"></div>

	<div class="container-materials">
		<div id="material-1" class="requadre-material">
		  <div class="text-material">Vidre</div>
		  <%= image_tag "material_vidre.jpg", class: "imatge-material" %>
		</div>
		<div id="material-2" class="requadre-material">
		  <div class="text-material">Acer</div>
		  <%= image_tag "material_acer.jpg", class: "imatge-material" %>
		</div>
		<div id="material-3" class="requadre-material">
			<div class="text-material">Formigó</div>
			<%= image_tag "material_formigo.jpg", class: "imatge-material" %>
		</div>
		<div id="material-4" class="requadre-material">
			<div class="text-material">Maons</div>
			<%= image_tag "material_maons.jpg", class: "imatge-material" %>
		</div>
		<div id="material-5" class="requadre-material">
			<div class="text-material">Palla</div>
			<%= image_tag "material_palla.jpg", class: "imatge-material" %>
		</div>
		<div id="material-6" class="requadre-material">
			<div class="text-material">Fusta</div>
			<%= image_tag "material_fusta.jpg", class: "imatge-material" %>
		</div>

		<div class="container-casa-material-clear"></div>

		<div id="material-7" class="requadre-material">
			<div class="text-material">Feltre</div>
			<%= image_tag "material_feltre.jpg", class: "imatge-material" %>
		</div>
		<div id="material-8" class="requadre-material">
			<div class="text-material">Terra</div>
			<%= image_tag "material_terra.jpg", class: "imatge-material" %>
		</div>
		<div id="material-9" class="requadre-material">
			<div class="text-material">Pedra</div>
			<%= image_tag "material_pedra.jpg", class: "imatge-material" %>
		</div>
		<div id="material-10" class="requadre-material">
			<div class="text-material">Gel</div>
			<%= image_tag "material_gel.jpg", class: "imatge-material" %>
		</div>
		<div id="material-11" class="requadre-material">
			<div class="text-material">Plàstic</div>
			<%= image_tag "material_plastic.jpg", class: "imatge-material" %>
		</div>
	</div>

	<div class="container-casa-material-clear"></div>

	<div>
		<p class="benfet3"><%= image_tag "correcte.png", class: "correcte" %></p>
	</div>
	
</div>