<div id="container-fase-8" class="container-fase">
	<h1 class="titol-repte">La frase amagada</h1>
	<p>Mou les fitxes per resoldre el trencaclosques i troba la frase amagada:</p>
	<ul id="sortable">
	  <li><%= image_tag "puzzle_06.jpg", class: "puzzle-slice", id: "puzzle6" %></li>
	  <li><%= image_tag "puzzle_02.jpg", class: "puzzle-slice", id: "puzzle2" %></li>
	  <li><%= image_tag "puzzle_05.jpg", class: "puzzle-slice", id: "puzzle5" %></li>
	  <li><%= image_tag "puzzle_04.jpg", class: "puzzle-slice", id: "puzzle4" %></li>
	  <li><%= image_tag "puzzle_03.jpg", class: "puzzle-slice", id: "puzzle3" %></li>
	  <li><%= image_tag "puzzle_01.jpg", class: "puzzle-slice", id: "puzzle1" %></li>
	</ul>
	<div class="container-clear"></div>
	<br/>
	<p class="text-repte">Escriu la resposta aquí:</p>
  <input id="input-repte-8"></input>
  <button id="comprova-repte-8" class="btn boto-accio">Comprova</button>
  <p class="benfet8"><%= image_tag "correcte.png", class: "correcte" %></p>
  <p class="malfet8"><%= image_tag "nocorrecte.png", class: "nocorrecte" %></p>
</div>