<div class="row">
	<div class="col-md-6">
		<div class="inici-sessio-container">
			<h2>Control del taller</h2>
			<p><%= link_to "Fase 1", fases_canvi_fase_path(fase: '1') %>: Les lletres perdudes</p>
			<p><%= link_to "Fase 2", fases_canvi_fase_path(fase: '2') %>: On és l'illa de Pasqua</p>
			<p><%= link_to "Fase 3", fases_canvi_fase_path(fase: '3') %>: De què estan fetes les cases</p>
			<p><%= link_to "Fase 4", fases_canvi_fase_path(fase: '4') %>: Els tres porquets</p>
			<p><%= link_to "Fase 5", fases_canvi_fase_path(fase: '5') %>: Estufa o manta</p>
			<p><%= link_to "Fase 7", fases_canvi_fase_path(fase: '7') %>: Solar tèrmica o fotovoltaica</p>
			<p><%= link_to "Fase 8", fases_canvi_fase_path(fase: '8') %>: Puzzle la frase amagada</p>
			<p><%= link_to "Fase 9", fases_canvi_fase_path(fase: '9') %>: Rehabilitació energètica</p>
			<p><%= link_to "Fase 10", fases_canvi_fase_path(fase: '10') %>: Tria la teva aventura</p>

			<p><%= link_to "Amagar-ho tot", fases_canvi_fase_path(fase: '0') %></p>
			
		</div>
	</div>
	
	
</div>

