<div class="row">
	<div class="col-md-6">
		<div class="inici-sessio-container">
			<h2>Control del taller 2</h2>
			<p><%= link_to "Fase 10", fases_canvi_fase_2_path(fase: '10') %>: Tria la teva aventura</p>
			<p><%= link_to "Fase 11", fases_canvi_fase_2_path(fase: '11') %>: Una frase amagada</p>
			<p><%= link_to "Fase 12", fases_canvi_fase_2_path(fase: '12') %>: Quanta llum necessitem?</p>
			<p><%= link_to "Fase 13", fases_canvi_fase_2_path(fase: '13') %>: Memòria prodigiosa</p>
			<p><%= link_to "Fase 14", fases_canvi_fase_2_path(fase: '14') %>: Quanta llum necessitem? (2)</p>
			<p><%= link_to "Fase 15", fases_canvi_fase_2_path(fase: '15') %>: Quanta llum necessitem? (3)</p>
			<p><%= link_to "Fase 16", fases_canvi_fase_2_path(fase: '16') %>: Seguim les instruccions</p>

			<p><%= link_to "Amagar-ho tot", fases_canvi_fase_2_path(fase: '0') %></p>
			
		</div>
	</div>
	
	
</div>

