<!DOCTYPE html>
<html>
  <head>
    <title>Escola 50/50</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'fases' %>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@0.8.2"></script>
    <script type="text/javascript" src="https://cdn.myth.theoplayer.com/ea920c04-cb68-41de-961c-e54bd3218408/THEOplayer.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.myth.theoplayer.com/ea920c04-cb68-41de-961c-e54bd3218408/ui.css" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
